::ng-deep .addManifestClass .modal-dialog {
  max-width: 56rem;
  margin-top: 7rem;
}

::ng-deep .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 1, 247, 0.15);
}

.modal-header, .modal-body, .modal-footer {
  background-color: darkgray;
}

.modal-header {
  padding: 0.3rem;
  font-size: large;
  font-weight: 700;
}

.modal-footer {
  padding: 0.3rem;
}

.modal-title {
  padding-left: 2rem;
}

.modal-body {
  text-align: center;
}

.btn-outline-secondary {
  color: #fff;
  text-decoration: none;
  background-color: #728ee1;
}

.btn-outline-secondary:hover {
  color: #fff;
  text-decoration: none;
  background-color: #000dcc;
}
table {
  margin: auto;
}
tbody tr td select {
  border-radius: 5px;
  width: 8rem;
}

tbody td, thead th {
  border: 1px solid black;
  border-collapse: collapse;
  padding-left: .5rem;
  padding-right: .5rem;
}
tbody tr {
  background: #8ca9ff;
  font-weight: 500;
}
thead tr {
  background: #4a4846;
  color: aliceblue;
}
tbody tr td input {
  text-align: center;
  border-radius: 5px;
  margin: 2px;
  border: none;
}
.addManifest_palletQTy, .addManifest_ldm {
  width: 4rem;
}

.addManifest_weight {
  width: 6rem;
}
.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -.5rem -1rem auto;
}
