
.icon-search:before { content: '\e800'; } /* '' */
.icon-login:before { content: '\e801'; } /* '' */
.icon-logout:before { content: '\e802'; } /* '' */
.icon-news:before { content: '\e803'; } /* '' */
.icon-doc:before { content: '\e804'; } /* '' */
.icon-note:before { content: '\e805'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-params:before { content: '\e807'; } /* '' */
.icon-truck:before { content: '\e808'; } /* '' */
.icon-signal:before { content: '\e809'; } /* '' */
.icon-picture:before { content: '\e80a'; } /* '' */
.icon-down-bold:before { content: '\e80b'; } /* '' */
.icon-right-bold:before { content: '\e80c'; } /* '' */
.icon-left-bold:before { content: '\e80d'; } /* '' */
.icon-up-bold:before { content: '\e80e'; } /* '' */
.icon-down-circle:before { content: '\e80f'; } /* '' */
.icon-left-circle:before { content: '\e810'; } /* '' */
.icon-right-circle:before { content: '\e811'; } /* '' */
.icon-up-circle:before { content: '\e812'; } /* '' */
.icon-check:before { content: '\e813'; } /* '' */
.icon-mail:before { content: '\e814'; } /* '' */
.icon-mail-circled:before { content: '\e815'; } /* '' */
.icon-mail-1:before { content: '\e816'; } /* '' */
.icon-mail-2:before { content: '\e817'; } /* '' */
.icon-mail-3:before { content: '\e818'; } /* '' */
.icon-email:before { content: '\e819'; } /* '' */
.icon-mail-4:before { content: '\e81a'; } /* '' */
.icon-ok-circled2:before { content: '\e81b'; } /* '' */
.icon-check-empty-1:before { content: '\e81c'; } /* '' */
.icon-check-1:before { content: '\e81d'; } /* '' */
.icon-login-1:before { content: '\f02c'; } /* '' */
.icon-logout-1:before { content: '\f02d'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-blank:before { content: '\f0c8'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-chart-bar:before { content: '\f526'; } /* '' */
.icon-pencil-alt:before { content: '\e803'; } /* '' */
