<form [formGroup]="skillForm" >
<ejs-datepicker id='datetimepicker' placeholder='{{dateValue}}'
                [value]='dateValue'
                [min]='minDate'
                [max]='maxDate'
                [allowEdit]="false"
                [weekNumber]="1"
                [firstDayOfWeek]="1"
                [showClearButton]="false"
                format='dd MMM yyyy HH:mm'
                formControlName="datetime"
                (ngModelChange)="changeLink()"
></ejs-datepicker>
</form>
