:host::ng-deep.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before{
  left: 1%;
}
:host::ng-deep.e-input-group:not(.e-float-icon-right):not(.e-float-input)::before{
  right: 82%;
}
:host::ng-deep.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after{
  right: -7%;
}
:host::ng-deep.e-input-group:not(.e-float-icon-right):not(.e-float-input)::after{
  /*right: 81%;*/
}

:host::ng-deep.e-input-group:not(.e-float-icon-left):not(.e-float-input).e-input-focus::before,
.e-input-group:not(.e-float-icon-left):not(.e-float-input).e-input-focus::after,
.e-input-group.e-float-icon-left:not(.e-float-input).e-input-focus .e-input-in-wrap::before,
.e-input-group.e-float-icon-left:not(.e-float-input).e-input-focus .e-input-in-wrap::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input).e-input-focus::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input).e-input-focus::after,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input).e-input-focus .e-input-in-wrap::before,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input).e-input-focus .e-input-in-wrap::after {
  width: 18%;
}
:host::ng-deep.e-input-group:not(.e-float-icon-right):not(.e-float-input).e-input-focus::before,
.e-input-group:not(.e-float-icon-right):not(.e-float-input).e-input-focus::after,
.e-input-group.e-float-icon-right:not(.e-float-input).e-input-focus .e-input-in-wrap::before,
.e-input-group.e-float-icon-right:not(.e-float-input).e-input-focus .e-input-in-wrap::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-right):not(.e-float-input).e-input-focus::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-right):not(.e-float-input).e-input-focus::after,
.e-input-group.e-control-wrapper.e-float-icon-right:not(.e-float-input).e-input-focus .e-input-in-wrap::before,
.e-input-group.e-control-wrapper.e-float-icon-right:not(.e-float-input).e-input-focus .e-input-in-wrap::after {
  width: 105%;
}

:host::ng-deep #datetimepicker_input, :host::ng-deep #datetimepicker, :host::ng-deep .e-input-group-icon::before{
  color: #509bff;
  width: fit-content;
  font-size: initial;
  background: rgba(80,155,255,0);
  cursor: pointer;
  margin-left: 1rem;
}
:host::ng-deep .e-clear-icon {
  width: fit-content;
}
:host::ng-deep .e-time-icon::before {
  visibility: hidden;
}
:host::ng-deep #datetimepicker_timepopup::after, :host::ng-deep #datetimepicker_timepopup::before{
  visibility: hidden;
}

