<div class="container-fluid truck-table">
  <div class="tttable">
    <table class="table table-striped">
      <thead class="head-row">
      <!--        <div class="clear-table">-->
      <tr>
        <th rowspan=2 scope="col" class="ttt_truck_id">Truck ID</th>
        <th rowspan=2 scope="col" class="ttt_depart">Place of Departure</th>
        <th rowspan=2 scope="col" class="ttt_manQty">Manifest Qty</th>
        <th rowspan=2 scope="col" class="ttt_palQty">Pallets Qty</th>
        <th rowspan=2 scope="col" class="ttt_weight">Weight, t</th>
        <th colspan=2 scope="colgroup" class="ttt_arr">Arrival</th>
        <th colspan=2 scope="colgroup" class="ttt_util">Utilization, t</th>
        <th rowspan=2 scope="col" class="ttt_arr_real">Arrived</th>
        <th rowspan=2 scope="col" class="ttt_delay">Delay <br>report</th>
      </tr>
      <tr>
        <th scope="col" class="ttt_Date">Date</th>
        <th scope="col" class="ttt_Hour">Hour</th>
        <th scope="col" class="ttt_ldm">ldm</th>
        <th scope="col" class="ttt_wg">wg [t]</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let tttWarehouseManifestDTO of this.tttWarehouseManifestDTOSet; let index = index;">
        <tr [ngClass]="isDelayed(tttWarehouseManifestDTO.ttt) ? 'red_row' : tttWarehouseManifestDTO.ttt.tttStatus.tttStatusName === arrived ? 'green_row' : ''">
          <td class="ttt_truck_id"><a href="{{tttWarehouseManifestDTO.ttt.tttID}}"
                                      class="table_link">{{tttWarehouseManifestDTO.ttt.truckName}}</a></td>
          <td class="ttt_depart">{{tttWarehouseManifestDTO.ttt.dispatchedFrom}}</td>
          <ng-container
            *ngVar="getRealQtyOfManifestsInTtt(tttWarehouseManifestDTO?.warehouseManifestList) as realQtyOfManifest">
            <td class="ttt_manQty"
                *ngIf="realQtyOfManifest > 0 && tttWarehouseManifestDTO.ttt.manifestSet?.length !== realQtyOfManifest; else elseBlock">
              <div class="line_through">{{tttWarehouseManifestDTO.ttt.manifestSet?.length}}</div>
              {{realQtyOfManifest}}
            </td>
            <ng-template [ngIf]="true" [ngIfElse]="elseBlock"></ng-template>
            <ng-template #elseBlock>
              <td class="ttt_manQty">{{tttWarehouseManifestDTO.ttt.manifestSet?.length}}</td>
            </ng-template>
          </ng-container>
          <td class="ttt_palQty">{{getPlannedQtyOfPalletsForTtt(tttWarehouseManifestDTO.ttt.manifestSet)}}</td>
          <td class="ttt_weight">{{getPlannedTotalWeightTtt(tttWarehouseManifestDTO.ttt.manifestSet)}}</td>
          <td class="ttt_Date">{{tttWarehouseManifestDTO.ttt.tttArrivalDatePlan.substring(0, 10)}}</td>
          <td class="ttt_Hour">{{tttWarehouseManifestDTO.ttt.tttArrivalDatePlan.substring(11)}}</td>
          <td class="ttt_ldm">{{getRealTotalLdmTtt(tttWarehouseManifestDTO.ttt.manifestSet)}}</td>
          <td class="ttt_wg">{{getRealTotalWeightTtt(tttWarehouseManifestDTO.ttt.manifestSet)}}</td>
          <td class="ttt_arr_real" *ngIf="tttWarehouseManifestDTO.ttt.tttStatus.tttStatusName === arrived">
            <a href="#" class="table_link"><i class="far fa-check-square"></i></a>
          </td>
          <td class="ttt_arr_real" *ngIf="tttWarehouseManifestDTO.ttt.tttStatus.tttStatusName !== arrived">
            <a href="#" class="table_link"><i class="far fa-square"></i></a>
          </td>
          <td class="ttt_delay"><a href="#" class="table_link"><i class="icon-mail"></i></a></td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <div class="legend">
    <div style="display: table-cell; padding: 0 5px 0 5px; background-color: #99FF99;">truck arrived</div>
    <div style="display: table-cell; padding: 0 5px 0 5px; background-color: #FF9999;">truck not arrived / is late</div>
    <div style="display: table-cell; padding: 0 5px 0 5px; background-color: #FFFFFF;">truck not arrived but still has time</div>
    </div>
    <div [routerLink]="['/warehouse', this.nav.warehouseUrlCode]"  class="btn btn-primary back_to_wh">Back to Warehouse</div>
    <div class="btn btn-primary add_truck">ADD TRUCK</div>
  </div>
</div>
