/*@import "ej2-base.css";*/
/*@import "ej2-buttons.css";*/
/*@import "ej2-inputs.css";*/
/*@import "ej2-popups.css";*/
/*@import "ej2-lists.css";*/
/*@import "ej2-calendars.css";*/

/*:host::ng-deep #datetimepicker{*/
/*  background: #f8f8f8;*/
/*  width: fit-content;*/
/*}*/
:host::ng-deep #datetimepicker_input, :host::ng-deep #datetimepicker, :host::ng-deep .e-input-group-icon::before{
  color: #509bff;
  width: fit-content;
  font-size: initial;
  background: rgba(80,155,255,0);
  cursor: pointer;
}
:host::ng-deep .e-clear-icon {
  width: fit-content;
}
:host::ng-deep .e-time-icon::before {
  visibility: hidden;
}
:host::ng-deep #datetimepicker_timepopup::after, :host::ng-deep #datetimepicker_timepopup::before{
  visibility: hidden;
}

