.ttt-detail {
  display: contents;
}

.tttable {
  width: 98%;
  display: block;
  margin-left: 1rem;
}

.tttable table thead {
  display: inline-table;
}

.tttable tbody {
  overflow-y: auto;
  max-height: 45rem;
}

.ttt-info, .arrived-info {
  margin-left: 7rem;
  font-size: large;
  padding-right: 1rem;
  border-radius: 1rem 1rem 0 0;
  background-color: #5a92ce;
  margin-top: .6rem;
}

.arrived-info {
  font-size: medium;
  border-top-right-radius: unset;
  float: right;
  color: #000 !important;
  background-color: #46dc68 !important;
  margin-top: 11px;
  border: 1px solid antiquewhite;
  margin-right: 23px;
}

.not_arrived-info {
  background-color: #ffda09 !important;
}

.head-row {
  display: inline-table;
  width: 100%;
}

.table thead th {
  border: 1px solid #dee2e6;
  text-align: center;
  vertical-align: middle;
  background: dimgrey;
  color: aliceblue;
  padding: 2px 0 2px 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 1);
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(230, 230, 230, 1);
}

.table {
  display: inline-grid;
}

.table td, .table th {
  padding: 0;
  text-align: center;
  border-collapse: collapse;
  border-top: 1px solid #4f5c68;
  border-left: 1px solid #4f5c68;
  border-right: 1px solid #4f5c68;
}

tbody tr {
  display: inline-table;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0;
}

.manifest_n, .supplier_n, .customer_n, .delivery_n, .qty_pal_n, .weight_n, .kpi_n, .is_n, .co_n, .tpa_n {
  padding-left: 5px;
}

.manifest_n {
  width: 20%;
}

em.fas.fa-edit {
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.4rem;
  position: absolute;
  left: 20px;
  cursor: pointer;
  transition: font-size 0.1s, color 0.3s;
}

em.fas.fa-edit:hover {
  font-size: x-large;
  color: #0705ff;
  transform: rotate(7deg);
}

.man_link {
  text-align: center;
  display: inline;
}

.supplier_n, .customer_n, .tpa_n {
  width: 9%;
}

.kpi_n {
  width: 3%; /*9%*/
}

.delivery_n {
  width: 11%;
}

.qty_pal_n, .weight_n {
  width: 7%; /*14*/
}

.is_n, .co_n {
  width: 3%; /*6*/
}

.weight_plan_n, .qty_pal_plan_n {
  width: 5%;
}

tr.green_row {
  background-color: #a2ff8c !important;
}

.today {
  background-color: #FFE9A3 !important;
}

.wrong_qty {
  background-color: #FF9999 !important;
}

.badge_n {
  font-size: 100%;
  text-align: center;
  vertical-align: middle;
  border-radius: .15rem;
  border: 2px solid #18730663;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  color: black;
  padding: 2px 5px;
  cursor: pointer;
}

.badge_n:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0062cc;
}

.table td {
  text-align: center;
  padding-bottom: 1px;
  padding-top: 1px;
  vertical-align: middle;
}

.fa-square {
  color: black;
  content: "\f0c8";
  font-size: 2rem;
  vertical-align: -webkit-baseline-middle;
}

.fa-check-square {
  color: black;
  content: "\f0c8";
  font-size: 2rem;
  vertical-align: -webkit-baseline-middle;
}

.fa-square:hover, .fa-check-square:hover {
  color: red;
  background-color: pink;
}

a.table_link {
  text-decoration: none;
  color: black;
  font-weight: 550;
  transition: color 0.2s;
  cursor: pointer;
}

a.table_link:hover {
  text-decoration: none;
  color: #f6055c;
}

tfoot {
  background: #5c5c5cf5;
  color: white;
  display: inline-table;
  width: 100%;
}

tfoot td:first-child {
  width: 40%;
  text-align: left;
  padding: 0 0 0 2rem;
}

tfoot td:nth-child(2) {
  width: 16.5%;
  text-align: right;
  padding-right: 5px;
}

tfoot td:nth-child(3), tfoot td:nth-child(5) {
  width: 7%;
  text-align: center;
}

tfoot td:nth-child(4) {
  width: 5%;
  text-align: center;
}

:host::ng-deep.tooltip-inner {
  max-width: 250px !important;
}

.upload_form label {
  background-color: #383838;
  color: white;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  margin-bottom: 0;
  transition: background-color 0.3s;
  margin-right: 2rem;
}

.upload_form label:hover {
  background-color: #111111;
}

.form-group.upload_form {
  margin-bottom: 0;
  text-align: right;
}

.fa-cloud-upload-alt {
  color: deepskyblue;
}

.green {
  color: greenyellow !important;
}

.red {
  color: orangered !important;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -26px;
  border-radius: 50%;
  border-top: 2px solid #c6d9e8;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
}

.legend {
  display: inline;
  margin-bottom: auto;
  float: left;
}

.underlined {
  text-decoration: underline !important;
}

.back_to_ttt:hover, .add_manifest:hover {
  background-color: #f6055c;
  color: gold;
}

.back_to_ttt {
  margin-left: 8rem;
  transition: color .5s, background-color .3s;
  font-weight: bold;

}

.add_manifest {
  margin-left: 3rem;
  margin-right: 3rem;
  float: right;
  transition: color .5s, background-color .3s;
  font-weight: bold;
}

em.far.fa-file-excel {
  color: #00ef00;
  font-size: 1.7rem;
  cursor: pointer;
}

.i_s {
  /*-webkit-animation: BLINK-ANIMATION 1s infinite; !* Safari 4+ *!*/
  /*-moz-animation:    BLINK-ANIMATION 1s infinite; !* Fx 5+ *!*/
  /*-o-animation:      BLINK-ANIMATION 1s infinite; !* Opera 12+ *!*/
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: BLINK-ANIMATION;
}

@keyframes BLINK-ANIMATION {
  0% {
    color: yellow;
  }
  100% {
    color: red;
  }
}

/*********************** 1400 px *********************************/
@media only screen and (max-width: 1400px) {
  .tttable tbody {
    overflow-y: auto;
    max-height: 27rem;
  }

  .arrived-info {
    margin-right: 12px;
  }
}

