<span class="badge badge-pill badge-primary ttt-info">Truck Name: {{tttWarehouseManifestDTO.ttt.truckName}}. Dispatched From: {{tttWarehouseManifestDTO.ttt.dispatchedFrom}}
  .</span>
<ng-container>
  <span class="badge badge-pill badge-success arrived-info"
        *ngIf="tttWarehouseManifestDTO.ttt.tttStatus.tttStatusName === this.arrived, else notArrived">
    Arrived: {{tttWarehouseManifestDTO.ttt.tttArrivalDateReal.replace('T', '  ')}}
  </span>
  <ng-template #notArrived>
    <span class="badge badge-pill badge-warning arrived-info not_arrived-info">
      Planned Arrival: {{tttWarehouseManifestDTO.ttt.tttArrivalDatePlan.replace('T', '  ')}}
    </span>
  </ng-template>
</ng-container>

<div class="container-fluid ttt-detail">
  <div class="tttable">
    <table class="table table-striped">
      <thead class="head-row">
      <tr>
        <th scope="col" rowspan=2 class="manifest_n">Manifest №</th>
        <th scope="col" rowspan=2 class="supplier_n">Supplier</th>
        <th scope="col" rowspan=2 class="customer_n">Customer</th>
        <th scope="col" style="border-bottom: none;" class="delivery_n">Delivery</th>
        <th scope="col" colspan=2>Qty of pallets</th>
        <th scope="col" colspan=2>Weight, [t]</th>
        <th scope="col" colspan=3>KPI</th>
        <th scope="col" rowspan=2 class="is_n">IS</th>
        <th scope="col" rowspan=2 class="co_n">CO</th>
        <th scope="col" rowspan=2 class="tpa_n">TPA</th>
      </tr>
      <tr>
        <th style="border-top: none;">Date</th>
        <th class="qty_pal_plan_n">Plan</th>
        <th class="qty_pal_n">Real</th>
        <th class="weight_plan_n">Plan</th>
        <th class="weight_n">Real</th>
        <th class="kpi_n">lab</th>
        <th class="kpi_n">doc</th>
        <th class="kpi_n">man</th>
      </tr>
      </thead>
      <tbody>
      <ng-container
        *ngFor="let warehouseManifest of this.tttWarehouseManifestDTO.warehouseManifestList; let index = index;">
        <tr [ngClass]="getClassForRow(warehouseManifest)">
          <td class="manifest_n"><a
            [ngClass]="warehouseManifest.manifest.manifestCode.includes(manually_added_postfix) ? 'underlined' : ''"
            (click)="getChosenWarehouseManifestId(warehouseManifest)"
            class="table_link "
            [routerLink]="['/warehouse', this.nav.warehouseUrlCode, 'ttt', tttWarehouseManifestDTO?.ttt.truckName, 'manifest', warehouseManifest.manifest.manifestCode.split(manually_added_postfix)[0]]">{{warehouseManifest.manifest.manifestCode.split(manually_added_postfix)[0]}}</a>
          </td>
          <td class="supplier_n">{{warehouseManifest.manifest.supplier.name}}</td>
          <td class="customer_n">{{warehouseManifest.manifest.customer.name}}</td>
          <td class="delivery_n">{{getDeliveryDate(warehouseManifest)}}</td>
          <td class="qty_pal_plan_n"
              [ngClass]="getAppropriateClass(warehouseManifest, tttWarehouseManifestDTO.ttt, false)">{{warehouseManifest.manifest.palletQtyPlanned}}</td>
          <td class="qty_pal_n" [ngClass]="getAppropriateClass(warehouseManifest, tttWarehouseManifestDTO.ttt, false)"
              *ngVar="warehouseManifest.palletQty > 0 ? warehouseManifest.palletQty + 'p' : ' — ' as pallets"><a
            class="badge_n text-wrap" style="display:inline-block;"
            *ngVar="warehouseManifest.boxQtyReal > 0 ? warehouseManifest.boxQtyReal + 'b' : '' as boxes;">
            {{pallets}} {{boxes}}</a>
          </td>
          <td class="weight_plan_n"
              [ngClass]="getAppropriateClass(warehouseManifest, tttWarehouseManifestDTO.ttt, true)">{{warehouseManifest.manifest.totalWeightPlanned}}</td>
          <td class="weight_n" [ngClass]="getAppropriateClass(warehouseManifest, tttWarehouseManifestDTO.ttt, true)"><a
            class="badge_n text-wrap" style="display:inline-block;"
            *ngVar="warehouseManifest.grossWeight > 0 ? warehouseManifest.grossWeight : ' — ' as weight">{{weight}}</a>
          </td>
          <td class="kpi_n" *ngVar="warehouseManifest.kpiLabel ? 'Y' : 'N' as  condition"><a
            class="badge_n text-wrap">{{condition}}</a></td>
          <td class="kpi_n" *ngVar="warehouseManifest.kpiDocument ? 'Y' : 'N' as  condition"><a
            class="badge_n text-wrap">{{condition}}</a></td>
          <td class="kpi_n" *ngVar="warehouseManifest.kpiManifest ? 'Y' : 'N' as  condition"><a
            class="badge_n text-wrap">{{condition}}</a></td>
          <td class="is_n"><a class="table_link"><i class="far fa-square"
                                                    [ngClass]="getClassForRow(warehouseManifest) !== '' ? 'i_s' : ''"></i></a>
          </td>
          <td class="co_n"><a class="table_link"><i class="far fa-square"
                                                    [ngClass]="getClassForRow(warehouseManifest) !== '' ? 'i_s' : ''"></i></a>
          </td>
          <td class="tpa_n"><a class="table_link">{{warehouseManifest.tpa?.name}}</a></td>
        </tr>
      </ng-container>
      </tbody>
      <tfoot style="background: #5c5c5cf5; color: white;">
      <tr>
        <td colspan=5>Total:</td>
        <td><b>{{getTotalAmountOfPalletsAndBoxes()}}</b></td>
        <td></td>
        <td><b>{{getTotalWeight()}}</b></td>
        <td colspan=6></td>
      </tr>
      </tfoot>
    </table>
    <div class="legend">
      <div style="display: table; width: auto;">
        <div style="display: table-cell; padding: 0 5px 0 5px; background-color: #FFE9A3;">manifest for today, pay
          attention
        </div>
        <div style="display: table-cell; padding: 0 5px 0 5px; background-color: #FF9999;">inconsistent delivery date or
          quantity
        </div>
        <div style="display: table-cell; padding: 0 5px 0 5px; background-color: #FFFFFF;"><u>Manifest No</u> - item was
          manually added
        </div>
      </div>
    </div>
      <a [routerLink]="['/warehouse', this.nav.warehouseUrlCode, 'ttt', localStorage.retrieve('date')]"  class="btn btn-primary back_to_ttt" style="width: 7rem;">TTT</a>
      <div class="btn btn-primary add_manifest">ADD MANIFEST</div>

  </div>
</div>
